In [1]:
dataframe = spark.read.option("inferschema", "true").option("header", "true").option("timestampFormat","dd/M/yyyy H:mm").csv("retail04.csv")
dataframe.show(5)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

In [2]:
from pyspark.sql.functions import sum
dataframe.groupBy("StockCode").pivot("Country").agg(sum("Quantity")).show()

+---------+---------+----+------+-------+-----------+------+--------------+
|StockCode|Australia|EIRE|France|Germany|Netherlands|Norway|United Kingdom|
+---------+---------+----+------+-------+-----------+------+--------------+
|    22728|     null|null|    24|   null|       null|  null|            13|
|    21259|     null|null|  null|   null|       null|  null|             8|
|    21889|     null|  24|  null|   null|       null|  null|            28|
|    22121|     null|null|  null|   null|       null|  null|            14|
|    90022|     null|null|  null|   null|       null|  null|             1|
|   90210B|     null|null|  null|   null|       null|  null|             1|
|    21894|     null|null|  null|   null|       null|  null|             4|
|    21452|     null|null|  null|   null|       null|  null|            12|
|    21249|     null|null|  null|   null|       null|  null|             2|
|    21671|     null|null|  null|   null|       null|  null|             2|
|    22130|     null|null|  null|   null|       null|  null|            32|
|    22314|     null|null|  null|   null|       null|  null|             8|
|    21711|     null|null|  null|   null|       null|  null|             1|
|    22438|     null|null|  null|   null|       null|  null|             1|
|    85064|     null|null|  null|   null|       null|  null|             6|
|    22529|     null|null|  null|   null|       null|  null|             3|
|    21967|     null|null|  null|   null|       null|    48|             1|
|    82486|     null|null|  null|   null|       null|  null|            18|
|   85170D|     null|null|  null|   null|       null|  null|             1|
|    22629|     null|null|    24|   null|       null|  null|             3|
+---------+---------+----+------+-------+-----------+------+--------------+
only showing top 20 rows

In [3]:
#SQL left semi join 
SELECT * 
FROM employees e LEFT SEMI JOIN orders o ON e.employee_id = o.salesman_id

SyntaxError: invalid syntax (<ipython-input-3-e1b6e688884c>, line 1)

In [ ]:
# PySpark left semi join
employees.join(orders, f.expr("employee_id = salesman_id"), "left_semi")

In [ ]:
# PySpark inner join
employees.join(orders, f.expr("employee_id = salesman_id"),"inner").groupBy("employee_id").agg(f.expr("count(*) as sales")).orderBy("sales",ascending=False)

In [ ]:
# SQL Inner join
SELECT e.employee_id, count(*) as sales FROM employees e INNER JOIN orders o ON e.employee_id = o.salesman_id GROUP BY e.employee_id ORDER BY sales DESC